<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" /-->
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
  </configSections>
  <dataConfiguration defaultDatabase="Connection_Batch"/>
  <connectionStrings>

    <!--<add name="Connection_Batch" connectionString="Password=1qazxsw2;Persist Security Info=True;User ID=sa;Initial Catalog=CIMS_sit;Data Source=192.168.33.39,1803;Connect Timeout=120" providerName="System.Data.SqlClient"/>-->
    <add name="Connection_Batch" connectionString="Password=vm3jo3xjp6;Persist Security Info=True;User ID=sa;Initial Catalog=CSCS_CIMS;Data Source=(local)\MSSQLSERVER_2019;Connection Reset=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="LogPath" value="C:\BatchLog\"/>
    <add key="ManagerMail" value="ap.cims@chinatrust.com.tw"/>
    <add key="MailFrom" value="ap.cims@chinatrust.com.tw"/>
    <add key="MailPassword" value="ap.cims1126"/>
    <add key="MailUser" value="ap.cims"/>
    <add key="MailSubject" value="卡片管理系統批次警訊"/>
    <add key="MailBody" value="卡片管理系統批次警訊 - "/>

    <!--這個是放FTP文件的位置設置-->
    <add key="FTPRemoteIP" value="192.168.31.9"/>
    <add key="FTPRemotePort" value="21"/>
    <add key="FTPUser" value="csfr"/>
    <add key="FTPPassword" value="1234"/>
    <add key="FactoryList" value="TNP,YFP"/>
    <!--小計檔存放的本地路徑和FTP上的PATH-->
    <!--<add key="SubTotalFTPRemoteIP" value="192.168.31.9"/>
		<add key="SubTotalFTPRemotePort" value="21"/>
		<add key="SubTotalFTPUser" value="csfr"/>
		<add key="SubTotalFTPPassword" value="1234"/>
		<add key="SubTotalFilesPath" value="c:\CIMS\SubTotalFiles"/>
		<add key="FTPRemoteSubtotal" value="CIMS\UBIQ_DOWNLOAD"/>-->
    <!--小計檔測試使用-->
    <add key="SubTotalFTPRemoteIP" value="220.130.148.192"/>
    <add key="SubTotalFTPRemotePort" value="21"/>
    <add key="SubTotalFTPUser" value="allie_cn"/>
    <add key="SubTotalFTPPassword" value="1qaz2wsx"/>
    <add key="SubTotalFilesPath" value="c:\CIMS\SubTotalFiles"/>
    <add key="FTPRemoteSubtotal" value="d:/FTP/allie_cn/08-CIMS"/>
    <!--廠商異動檔存放的本地路徑和FTP上的PATH-->
    <add key="CardModifyFTPRemoteIP" value="192.168.31.9"/>
    <add key="CardModifyFTPRemotePort" value="21"/>
    <add key="CardModifyFTPUser" value="csfr"/>
    <add key="CardModifyFTPPassword" value="1234"/>
    <add key="FTPCardModify" value="CIMS"/>
    <add key="FTPCardModifyPath" value="c:\CIMS\FactoryDepositoryFiles"/>
    <!--(替換前版面)廠商異動檔存放的本地路徑和FTP上的PATH-->
    <add key="CardModifyReplaceFTPRemoteIP" value="192.168.31.9"/>
    <add key="CardModifyReplaceFTPRemotePort" value="21"/>
    <add key="CardModifyReplaceFTPUser" value="csfr"/>
    <add key="CardModifyReplaceFTPPassword" value="1234"/>
    <add key="FTPCardModifyReplace" value="CIMS\CardModifyReplace"/>
    <add key="FTPCardModifyReplacePath" value="c:\CIMS\FactoryDepositoryReplaceFiles"/>
    <!--年度換卡預測檔-->
    <add key="YearReplaceFTPRemoteIP" value="192.168.31.9"/>
    <add key="YearReplaceFTPRemotePort" value="21"/>
    <add key="YearReplaceFTPUser" value="csfr"/>
    <add key="YearReplaceFTPPassword" value="1234"/>
    <add key="YearReplaceCardForecastFilesPath" value="c:\CIMS\YearReplaceCardForecastFiles"/>
    <add key="FTPRemoteYearReplaceCard" value="CIMS\CREDIT_HOST_DOWNLOAD"/>
    <!--月度換卡預測檔-->
    <add key="MonthReplaceFTPRemoteIP" value="192.168.31.9"/>
    <add key="MonthReplaceFTPRemotePort" value="21"/>
    <add key="MonthReplaceFTPUser" value="csfr"/>
    <add key="MonthReplaceFTPPassword" value="1234"/>
    <add key="MonthReplaceCardForecastFilesPath" value="c:\CIMS\YearReplaceCardForecastFiles"/>
    <add key="FTPRemoteMonthReplaceCard" value="CIMS\CREDIT_HOST_DOWNLOAD"/>
    <!--次月下市預測檔-->
    <add key="NextMonthDelistFTPRemoteIP" value="192.168.31.9"/>
    <add key="NextMonthDelistFTPRemotePort" value="21"/>
    <add key="NextMonthDelistFTPUser" value="csfr"/>
    <add key="NextMonthDelistFTPPassword" value="1234"/>
    <add key="NextMonthDelistCardForecastFilesPath" value="c:\CIMS\YearReplaceCardForecastFiles"/>
    <add key="FTPRemoteNextMonthDelistCard" value="CIMS\CREDIT_HOST_DOWNLOAD"/>
    <!--物料廠商異動檔-->
    <add key="MaterialFTPRemoteIP" value="192.168.31.9"/>
    <add key="MaterialFTPRemotePort" value="21"/>
    <add key="MaterialFTPUser" value="csfr"/>
    <add key="MaterialFTPPassword" value="1234"/>
    <add key="FTPMATERIEL" value="CIMS\temp"/>
    <add key="LocalMATERIEL" value="c:\CIMS\MaterialStocksManage"/>
    <!--特殊代制項目-->
    <add key="SpecialFTPRemoteIP" value="192.168.31.9"/>
    <add key="SpecialFTPRemotePort" value="21"/>
    <add key="SpecialFTPUser" value="csfr"/>
    <add key="SpecialFTPPassword" value="1234"/>
    <add key="FTPSpecialProjectFilesPath" value="CIMS"/>
    <add key="LocalSpecialProjectFilesPath" value="c:\CIMS\SpecialProjectFilesPath"/>
    <!--這一段是關於批次和時間的設定！-->
    <!--08:30___6.1/6.2/5.2.4/4.10-->
    <add key="BatchOne" value="08:30:00"/>
    <add key="BatchOneTimeSpan" value="D"/>
    <!--07:00___6.4/6.5-->
    <add key="BatchTwo" value="07:00:00"/>
    <add key="BatchTwoTimeSpan" value="D"/>
    <!--16:00___6.1-->
    <add key="BatchThree" value="16:00:00"/>
    <add key="BatchThreeTimeSpan" value="D"/>
    <!--14:00___6.2/5.2.4/4.10-->
    <add key="BatchFour" value="14:00:00"/>
    <add key="BatchFourTimeSpan" value="D"/>
    <!--20:00___6.1/6.2/5.2.4/4.10-->
    <add key="BatchFive" value="20:00:00"/>
    <add key="BatchFiveTimeSpan" value="D"/>
    <!--23:00___6.3/6.spilit/4.13/4.14-->
    <add key="BatchSix" value="23:00:00"/>
    <add key="BatchSixTimeSpan" value="D"/>
    <!--8:00___-->
    <add key="BatchSeven" value="08:00:00"/>
    <add key="BatchSevenTimeSpan" value="D"/>
    <!--08:00___6.6-->
    <add key="BatchEight" value="08:00:00"/>
    <add key="BatchEightTimeSpan" value="D"/>

    <add key="FTPRemotePathDefault" value="CIMS"/>

    <!--測試環境 1：台北 2：武漢-->
    <add key="TestType" value="1"/>

    <!--Mail Send Configuration!-->
    <!--警訊標題 1：台北 2：武漢-->
    <add key="MailTitle" value="卡片管理系統警訊-"/>
    <!--發送郵箱的地址-->
    <add key="MailServerFrom" value="ap.cims@chinatrust.com.tw"/>
    <!--發送者姓名-->
    <add key="MailFromName" value="ap.cims"/>
    <!--郵箱用戶名-->
    <add key="MailServerID" value="ap.cims"/>
    <!--郵箱密碼-->
    <add key="MailServerPWD" value="ap.cims1126"/>
    <!--郵箱ServerIP-->
    <add key="MailServer" value="10.23.84.180"/>
    <!--郵箱ServerDomain-->
    <add key="MailDomainName" value="CTCB"/>

    <!--LDAP的連接IP-->
    <add key="LDAP_IP" value="192.168.31.40"/>
    <!--LDAP端口-->
    <add key="LDAP_PORT" value="389"/>
    <!--serviceID(就是AP註冊在LDAP的物件)的DN與密碼-->
    <add key="LDAP_SIDDN" value="ou=CIMS,ou=APPs,o=CTCB"/>
    <add key="LDAP_SIDPass" value="2WSX1QAZ"/>
    <!--rootBaseDN是指會使用此AP的部門單位的DN，如:中國信託商業銀行或僅是個金或法金-->
    <add key="LDAP_RootBaseDN" value="ou=HRIS,o=CTCB"/>
    <!--1:使用LDAP 2:不使用LDAP -->
    <add key="IsUsingLDAP" value="1"/>
    <!--系統管理員密碼-->
    <add key="AdminPWD" value="123456"/>

    <!--FTP模式１：Passive　２：Active-->
    <add key="FTPModel" value="2"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
